<!DOCTYPE HTML>
<html>
<head>
<title>jhola - http://jhola.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body style="background-color:#FFFFFF">

<div style="border: 1px solid #CCC;border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
;-mox-box-shadow:   0 0 7px 0px #f5f3ed;
-webkit-box-shadow:   0 0 7px 0px #f5f3ed;
box-shadow:   0 0 7px 0px #f5f3ed;
; margin: 10px; background-color: #FFF">
<div style="border-top-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
;border-top-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
;width:100%;overflow:hidden;background-color:#f5f3ed"><A target=_blank style="font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  href="http://jhola.com"
   target=_blank><img border=0 style="border-top-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
;border-top-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
"
    src="https://static.e-junkie.com/sslpic/106691.d7ac91c0531c86fc18a1a621da517bcc.jpg"
    alt="jhola: Shop Smart.Shop Global"
    </a></div>

<div style="padding:10px; font-size:12px;color:#333;font-family:Arial, Helvetica, sans-serif;">

<div style="float:right; vertical-align:center; padding-right:10px; font-size:12px;color:#333;font-family:Arial, Helvetica, sans-serif;">
<A title="Follow \@jhola on Twitter" target="_blank"
   href="https://twitter.com/jholaindia"><img width="24" height="24" alt="Twitter"
   src="http://icon-cache.s3.amazonaws.com/icons/custom/24x24/plain/Twitter-icon.png"></a>
&nbsp; <A target=_blank style="font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  title="Like jhola on Facebook" target="_blank"
   href="https://www.facebook.com/pages/jhola"><img width="24"
   height="24" alt="Facebook"
   src="http://icon-cache.s3.amazonaws.com/icons/custom/24x24/plain/FaceBook-icon.png"></a>
</div>

Hi,
<br>
<br>

We're super excited, you've joined us! You're now on your way to an awesome shopping terrain.
<br>
<br>
We'd love to hear from you!
<br>
<br>

Got questions or just want to say "hi"? Get in touch via email.
Follow us on Facebook or Twitter for the latest product updates.
<br>
<br>

Happy Shopping! :)
<br>
<br>

Nitin Goyal and the rest of the Jhola team
<br>
<br>

--
<br>
You're receiving this email because you signed up at <a href="http://jhola.com/" style="text-decoration:none">jhola.com</a>
<br>
Need help? We are here to assist!!
<br>
<br />




<div style="border-top: 1px solid #999; padding: 0px 15px; text-align: center; background-color: #ffffff; line-height: 1.0em; border-bottom
">
<p style="color: #999; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
Fizz Retail (P) Limited | 909, Hemkunt House, Rajindra Place, New Delhi 110008, India.</p>

<p style="color: #808080; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
<A target=_blank style="text-decoration:none; font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  href="http://jhola.com">jhola.com</a>
/
<A target=_blank style="text-decoration:none; font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  href="mailto:hello@jhola.com">hello@jhola.com</a>
/
<A target=_blank style="text-decoration:none; font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  href="http://jhola.com/personal-shopper.html">personal shopper</a>
/
<A target=_blank style="text-decoration:none; font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  href="http://jhola.com/faqs">faqs</a>
</p>
</div>

</div>
</body>
</html>