<footer id="footer"  data-hook>
<div>
      
<h6><span><a href="/products">About Us</a></span> /
<span><a href="/products">Terms</a></span> /
<span><a href="/products">Privacy</a></span> /
<span><a href="/faqs">FAQs</a></span> /
<span><a href="/faqs">Feedback</a></span> /
<span><a href="/faqs">Bug reporting</a></span></h6>
</div>
some text here



<center>Copyright © 2013 Fizz Retail (P) Limited, New Delhi, India. </center>