<footer data-hook="" id="footer">
    <div class="footer_links" align="left">
        <span><a href="/products">About Us</a></span> 
	    <span><a href="/products">Terms</a></span> 
	    <span><a href="/products">Privacy</a></span> 
	    <span><a href="/faqs">FAQs</a></span> 
	    <span><a href="/faqs">Feedback</a></span>
	    <span><a href="/faqs">Bug reporting</a></span>
    </div>

        <div class="footer_right_side" align="right">
            © 2013 Fizz Retail (P) Limited, India.
        </div>

        <div class="footer_additional_copyright">
            Some text will be put here
        </div>
</footer>