<aside id="sidebar" class="columns four" data-hook>
  <%= yield :sidebar %>
<div id="wufoo-zi9phmw1iurdks">
Fill out my <a href="https://jhola.wufoo.com/forms/zi9phmw1iurdks">online form</a>.
</div>
<script type="text/javascript">var zi9phmw1iurdks;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'jhola', 
'formHash':'zi9phmw1iurdks', 
'autoResize':true,
'height':'383',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zi9phmw1iurdks = new WufooForm();zi9phmw1iurdks.initialize(options);zi9phmw1iurdks.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<div id="wufoo-x1u6hmpi0h5h44w">
Fill out my <a href="https://jhola.wufoo.com/forms/x1u6hmpi0h5h44w">online form</a>.
</div>
<script type="text/javascript">var x1u6hmpi0h5h44w;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'jhola', 
'formHash':'x1u6hmpi0h5h44w', 
'autoResize':true,
'height':'260',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { x1u6hmpi0h5h44w = new WufooForm();x1u6hmpi0h5h44w.initialize(options);x1u6hmpi0h5h44w.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

</aside>
