<aside class="columns four" data-hook="" id="sidebar">
    <%= yield :sidebar %>



<div style="horizontal-align:center; vertical-align:center; padding-right:10px; font-size:12px;color:#333;font-family:Arial, Helvetica, sans-serif;">
<a target=_blank style="font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  title="Your personal shopper" target="_blank"
   href="/personal-shopper"><img alt="Personal shopper"
   src="https://s3-us-west-2.amazonaws.com/jhola/01.12.2013+235950.png"></a>
</div>
<br>
<div class="sidebar_title" style="text-align: left">
	Stay connected
</div>

<div class="sidebar_social" align="left">
	<a title="Follow @jhola on Twitter" target="_blank"
   href="https://twitter.com/jholaindia"><img width="24" height="24" alt="Twitter"
   src="http://icon-cache.s3.amazonaws.com/icons/custom/24x24/plain/Twitter-icon.png"></a>
&nbsp; <a target=_blank style="font-size:12px;color:#5982b3;font-family:Arial, Helvetica, sans-serif; font-weight: bold;"  title="Like jhola on Facebook" target="_blank"
   href="https://www.facebook.com/pages/jhola"><img width="24"
   height="24" alt="Facebook"
   src="http://icon-cache.s3.amazonaws.com/icons/custom/24x24/plain/FaceBook-icon.png"></a>
</div>
    


    




        <h5>Join our e-list</h5>
  Stay up to date on the latest news and info!

    <div id="wufoo-x1u6hmpi0h5h44w">
        Fill out our <a href=
        "https://jhola.wufoo.com/forms/x1u6hmpi0h5h44w">e-list form</a>.
    </div><script type="text/javascript">
	var x1u6hmpi0h5h44w;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'jhola', 
    'formHash':'x1u6hmpi0h5h44w', 
    'autoResize':true,
    'height':'260',
    'async':true,
    'host':'wufoo.com',
    'header':'hide', 
    'ssl':false};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { x1u6hmpi0h5h44w = new WufooForm();x1u6hmpi0h5h44w.initialize(options);x1u6hmpi0h5h44w.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');
    </script>


</aside