<aside id="sidebar" class="columns four" data-hook>
  <%= yield :sidebar %>
<h5>Join our e-list</h5>

Stay up to date on the latest news and info!
<div id="wufoo-x1u6hmpi0h5h44w">
Fill out our <a href="https://jhola.wufoo.com/forms/x1u6hmpi0h5h44w">e-list form</a>.
</div>
<script type="text/javascript">var x1u6hmpi0h5h44w;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'jhola', 
'formHash':'x1u6hmpi0h5h44w', 
'autoResize':true,
'height':'260',
'async':true,
'host':'wufoo.com',
'header':'hide', 
'ssl':false};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { x1u6hmpi0h5h44w = new WufooForm();x1u6hmpi0h5h44w.initialize(options);x1u6hmpi0h5h44w.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

</aside>
