<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<div class="login_center" align="center">

<% @body_id = 'login' %>
<div id="existing-customer">
  <login_h1>Login to your account</login_h1> or <login_h4>createa a <a href="/signup">new account</a></login_h4> 

  <hr>
  <div data-hook="login">
    <%= render :partial => 'spree/shared/login' %>
</br>
    <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
  </div>
</div>
</div>
<div data-hook="login_extras"></div>